/* ? Reset */

*{
    margin: 0;
    padding: 0;
}

/* ? Main Div */

.main-div{
    width: 1440px;
    margin: auto;
}

/* ? NavBar  Section*/

.nav-bar-main-div{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.nav-bar-inner-div{
    width: 1200px;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center; 
    align-items: center;
}

.nav-bar-inner-div h3{
   font-size: 32px;
   font-family: Montserrat;
   font-weight: 600;
   line-height: 39px;
   color:#192252;
}

.nav-bar-inner-div .middle-div ul{
    display: flex;
    list-style: none;    
    gap: 30px;
}

.nav-bar-inner-div .middle-div ul li{
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #192252;
}

.nav-bar-inner-div .right-div button{
    padding: 14px 16px;
    background-color: #0E1734;
    border-radius: 4px;
    border: none;
}

.nav-bar-inner-div .right-div button span{
    font-size: 16PX;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

/* ? Header Section */

.header-main-div{
    width: 100%;
    /* height: 845px; */
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin: auto; */
    margin: 80px 0;
}

.header-inner-div{
    width: 1200px;
    /* height: 685px; */
    display: flex;
}

.header-inner-div .left-section{
    width: 50%;
    padding-top: 135px;
}

.header-inner-div .left-section h1{
    font-size: 48px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 72px;
    color: #192252;
}

.header-inner-div .left-section p{
   width: 485px;
   font-size: 18px;
   font-family: Inter;
   font-weight: 400;
   line-height: 27px;
   color: #848fac;
   padding: 28px 0;
}

.header-inner-div .left-section button{
    padding: 16px 32px;
    background-color: #0E1734;
    border-radius: 4px;
    border: none;
}

.header-inner-div .left-section button span{
    font-size: 16PX;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.header-inner-div .right-section{
    width: 50%;
}

/* ? First Page */

.first-page-main-div{
    width: 100%;
    padding: 80px 0;
    /* height: 736px; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.first-page-inner-div{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.hotel-info-div{
    /* width: 690px; */
    /* height: 366px; */
    margin-left: 125px;
}

.hotel-info-div h1{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 54px;
    color: #192252;
    margin-bottom: 24px;
}

.hotel-info-div p{
    width: 580px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
    margin-bottom: 16px;
}


.hotel-info-div button{
    padding: 16px 32px;
    background-color: #0E1734;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.hotel-info-div button span{
    font-size: 16PX;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}


/* ? Second Page */

.second-page-main-div{
    width: 100%;
    /* height: 960px; */
    margin: auto;
    padding: 80px 0; 
}

.second-page-inner-div{
    width: 1094px;
    /* height: 800px; */
    margin-left: 120px;
}


.second-page-inner-div .top-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.second-page-inner-div .top-div .top-info-div{
    width: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.second-page-inner-div .top-div .top-info-div h1{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 54px;
    color: #192252;
    margin-bottom: 24px;
}

.second-page-inner-div .top-div .top-info-div p{
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
}

.second-page-inner-div .bottom-div{
    display: flex;
    justify-content: space-between;
}

.second-page-inner-div .bottom-div .bottom-info-div{
    width: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-page-inner-div .bottom-div .bottom-info-div h1{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 54px;
    color: #192252;
    margin-bottom: 24px;
}

.second-page-inner-div .bottom-div .bottom-info-div p{
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
}

/* ? Reservation Page */

.reservation-page-main-div{
    width: 100%;
    /* height: 1176px; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.reservation-page-inner-div{
    width: 1200px;
    /* height: 1100px; */
    /* background-color: chartreuse; */
}

.reservation-page-inner-div .top-div{
    /* width: 100%; */
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 80px 0;
}

.reservation-page-inner-div .top-div .info-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.reservation-page-inner-div .top-div .info-div h1{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 54px;
    color: #192252;
    margin-bottom: 24px;
}

.reservation-page-inner-div .top-div .info-div p{
    /* width: 580px; */
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
    margin-bottom: 16px;
    text-align: center;
}

.reservation-page-inner-div .top-div .info-div button{
    padding: 16px 32px;
    background-color: #0E1734;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.reservation-page-inner-div .top-div .info-div span{
    font-size: 16PX;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.reservation-page-inner-div .bottom-div{
    /* width: 100%; */
    /* height: 850px; */
    /* background-color: #848fac; */
    display: flex;
    justify-content: space-between;
}

.reservation-page-inner-div .bottom-div .img-info-div .information {
    /* width: 384px; */
    margin: 32px 0;
}

.reservation-page-inner-div .bottom-div .img-info-div .information h1{
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
}

.reservation-page-inner-div .bottom-div .img-info-div .information p{
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
}

.reservation-page-inner-div .bottom-div .span-div{
    /* width: 384px; */
    display: flex;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    gap: 14px;
}

.reservation-page-inner-div .bottom-div .span-div span{
    color: #424f7b;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
}

.reservation-page-inner-div .bottom-div .span-div img{
    cursor: pointer;
}

/* ? Room Page */

.room-page-main-div{
    width: 100%;
    height: 596px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.room-page-inner-div{
    width: 1200px;
    height: 436px;
    display: flex;
    justify-content: space-between;
}

.room-page-inner-div .left-div{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-page-inner-div .left-div h5{
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    color: #424f7b;
}

.room-page-inner-div .left-div h1{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 54px;
    color: #192252;
    margin: 12px 0 24px 0;
}

.room-page-inner-div .left-div p{
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
    margin-bottom: 32px;
}

.room-page-inner-div .left-div .button-div button{
    padding: 16px 32px;
    background-color: #0E1734;
    border-radius: 4px;
    border: none;
}

.room-page-inner-div .left-div .button-div button span{
    font-size: 16PX;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.room-page-inner-div .left-div .button-div .explore-span{
    font-size: 16PX;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    color: #0e1734;
    cursor: pointer;
    margin-left: 24px;
}


.room-page-inner-div .right-div{
    width: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.room-page-inner-div .right-div .choose-div{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.room-page-inner-div .right-div .choose-div h3{
    padding: 32px 0 32px 36px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 36px;
    color: #424f7b;
}

.room-page-inner-div .right-div .choose-div p{
    padding: 0 0 36px 36px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
}

/* ? Testimoni page */

.testimoni-page-main-div{
    width: 100%;
    /* height: 630px; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.testimoni-page-inner-div .info-div{
    width: 793px;
    /* height: 467px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.testimoni-page-inner-div .info-div h1{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 54px;
    color: #192252;
}

.testimoni-page-inner-div .info-div img{
    margin: 62px 0 44px 0;
}

.testimoni-page-inner-div .info-div p{
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 27px;
    color: #848fac;
    margin-bottom: 32px;
    text-align: center;
}

.testimoni-page-inner-div .info-div h3{
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 30px;
    color: #192252;
}